*{
    list-style: none;
    margin:0;
    padding:0;
}
html,body,#root{
    width: 100%;
    height: 100%;
}
.index{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header{
        height: 50px;
        line-height: 50px;
    }
    main{
        flex:1;
        // overflow-y: auto;
        overflow: hidden;
    }
    ul{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding:0 10px;
    }
    .active{
        color:gray;
        border-bottom:1px solid darkcyan;
    }
}
.order{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    main{
        flex:1;
        // overflow-y: auto;
        overflow: hidden;
        display: flex;
        .left{
            width: 25%;
            li{
                line-height: 80px;
                text-align: center;
                border-right:1px solid #ccc;
            }
            .aaa{
                color:orangered
            }
        }
        .right{
            width: 75%;
        }
    }
    footer{
        height: 50px;
        line-height: 50px;
        background: rgb(73, 71, 71);
        color:white;
        text-align: center;
    }
    #box{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background: rgba(0,0,0,.3);
        .mask{
            width: 100%;
            height: 280px;
            background: white;
            margin-top:400px;
        }
    }
    .bbb{
        display: block;
    }
    .ccc{
        display: none;
    }
}
#item{
    .title{
        height: 44px;
        line-height: 44px;
        font-size: 16px;
    }
    dl{
        display: flex;
    }
    dt{
        img{
            width: 100px;
            height: 100px;
        }
    }
    dd{
        p{
            color:gray
        }
        b{
            color:orangered;
        }
    }
}