* {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index header {
  height: 50px;
  line-height: 50px;
}

.index main {
  flex: 1;
  overflow: hidden;
}

.index ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
}

.index .active {
  color: gray;
  border-bottom: 1px solid darkcyan;
}

.order {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.order main {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.order main .left {
  width: 25%;
}

.order main .left li {
  line-height: 80px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.order main .left .aaa {
  color: orangered;
}

.order main .right {
  width: 75%;
}

.order footer {
  height: 50px;
  line-height: 50px;
  background: #494747;
  color: white;
  text-align: center;
}

.order #box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.order #box .mask {
  width: 100%;
  height: 280px;
  background: white;
  margin-top: 400px;
}

.order .bbb {
  display: block;
}

.order .ccc {
  display: none;
}

#item .title {
  height: 44px;
  line-height: 44px;
  font-size: 16px;
}

#item dl {
  display: flex;
}

#item dt img {
  width: 100px;
  height: 100px;
}

#item dd p {
  color: gray;
}

#item dd b {
  color: orangered;
}
