*{
    list-style: none;
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}
.index{
    position: relative;
}
.title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    padding:0 20px;
    box-sizing:border-box;
}
.nav{
    display:flex;
    height: 50px;
    align-items: center;
    background: rgb(0, 110, 255);
    ul{
        flex:1;
        display: flex;
        li{
            flex:1;
            text-align: center;
            a{
                color:white;
                text-decoration: none;
            }
        }
    }
    img{
        width: 30px;
        height: 30px;
        border:1px solid #ccc;
        display: inline-block;
        border-radius: 20px;
        transition:all 1s;
    }
    .imgactive{
        transform: rotate(180deg)
    }
}
.mark{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background: rgba(0,0,0,.3);
    .box{
        width: 100px;
        height: 100px;
        background: whitesmoke;
        position: absolute;
        right:0;
        top:88px;
        li{
            height: 50px;
            text-align: center;
            line-height: 50px;
        }
    }
}
.none{
    display: none;
}
.sticky{
    position: sticky;
    top:0;
}
.citylist{
    width: 50px;
    background: gainsboro;
    position: fixed;
    top:150px;
    right:20px;
    text-align: center;
    li{
        height: 25px;
        line-height: 25px;
    }
}
.list{
    h3{
        height: 30px;
        line-height: 30px;
        background: rgb(241, 241, 241);
    }
    ul{
        li{
            height: 40px;
            img{
                width: 40px;
                height: 40px;
            }
            span{
                padding-left:10px;
                font-size:18px;
            }
        }
    }
}